/*  NavBar Styles */
header {
  display: flex;
  height: 10vh;
}


.div-logo {
  margin-top: auto;
  margin-bottom: auto;
}

nav {
  width: 100%;
  display: inline-flex;
}

.toggle-btn {
  display: none;
}

.menu {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-links li {
  display: inline-block;
}


.NavIndex {
  list-style: none;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 0px;
}

.NavIndex:visited {
  color: hsl(236, 13%, 42%);
}

.NavIndex:hover {
  color: hsl(35, 77%, 62%);
}

/*NavBar on mobile*/

/* when click menu */
.activeMenu {
  background-color: white;
  height: 100vh;
  width: 60vw;
  left: 33vw;
  position: fixed;
}

.activeMenu ul {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

}

.activeMenu label {
  justify-content: flex-end;

}

.activeMenu ul {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

}

.activeMenu ul a {
  color: hsl(236, 13%, 42%);

}

/*------------------*/
.Mobile-toggle-btn {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.Mobile-nav-links {
  display: none;
}

/*-------------*/

/* Feature Component on Desktop*/
main {
  height: 90%;
}

.Features-container {
  height: 60%;
  width: 100%;
  display: inline-flex;

}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 65%;
}

.info img {
  width: 100%;
}

.info-articles-container {
  margin-top: auto;
  display: flex;
  width: 100%;
}

.info-articles-container article {
  width: 50%;
  display: flex;
  flex-direction: column;

}

.titleIntro {
  font-family: Inter-ExtraBold;
  font-size: 42px;
  padding-right: 25px;
}

.RmButton {
  margin-top: auto;
  width: 50%;
  height: 40px;
  background-color: rgb(224, 103, 88);
  color: hsl(36, 100%, 99%);
  border: none;
}

.RmButton:hover {
  background-color: black;
}

.info-articles-container article p {
  margin-bottom: auto;
}

.news-sections {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 2%;
  background-color: rgb(0, 0, 25);
  width: 35%;
}

.news-sections article {
  margin-top: auto;
  margin-bottom: auto;
}

.news-sections article a {
  text-decoration: none;
}

.toOrangeHover:hover {
  color: hsl(35, 77%, 62%);
}

.news-sections hr {
  border-color: hsl(236, 13%, 42%);
}

.news-sections h1 {
  color: hsl(35, 77%, 62%);
}


.news-sections article h2 {
  padding-bottom: 15px;
  color: hsl(36, 100%, 99%);
  font-family: Inter-Bold;
}



/* Feature Component on Mobile */
.Mobile-Features-container {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.Mobile-info {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.Mobile-info-articles-container {
  display: flex;
  flex-direction: column;
}

.Mobile-info-articles-container article {
  display: flex;
  flex-direction: column;
}

.Mobile-info-articles-container h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Mobile-info-articles-container article button {
  margin-top: 15px;
}

.Mobile-info-articles-container article p {
  line-height: 2;
}

.Mobile-news-sections {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: rgb(0, 0, 25);
  height: 90vh;
}

.Mobile-news-sections article {
  margin-top: auto;
  margin-bottom: auto;
}

.Mobile-news-sections h1 {
  color: hsl(35, 77%, 62%);
}

.Mobile-news-sections article h2 {
  padding-bottom: 15px;
  color: hsl(36, 100%, 99%);
  font-family: Inter-Bold;
}

.Mobile-news-sections article a {
  text-decoration: none;
}



/*-------------*/
/* Desktop Arts Boxes Styles*/

.boxes-Container {
  display: flex;
  height: 35%;
}

.boxes-Container article {
  display: inline-flex;
  align-items: center;
}

.boxes-Container article section {

  padding-left: 5%;
  padding-right: 5%;
}

.boxes-Container article section h1 {
  font-size: 24px;
  font-family: Inter-ExtraBold;
}

.boxes-Container article section h2 {
  font-family: Inter-Bold;
}

.boxImage {
  width: 100px;
  height: 100px;

}

.content-Info {
  color: hsl(236, 13%, 42%);
}

.boxes-Container article section a {
  text-decoration: none;
  color: black;
}

/* Mobile Arts Boxes styles*/
.Mobile-boxes-Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Mobile-boxes-Container article {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.Mobile-boxes-Container article img {
  width: 150px;
  height: 150px;
}

.Mobile-boxes-Container article section {
  padding-left: 40px;
}

.Mobile-boxes-Container article section a {
  text-decoration: none;
  color: black;

}

.Mobile-boxes-Container article section h2 {
  font-family: Inter-Bold;
}