@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}

* {
  font-family: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p * {
  font-size: 15px;

}

#root {
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;

}